@import "tailwindcss";

:root {
  --color-primary: 255, 0, 0; /* Red */
  --color-secondary: 0, 255, 0; /* Green */
  --color-gray-50: 249, 250, 251;
  --color-gray-100: 243, 244, 246;
  --color-gray-200: 229, 231, 235;
  --color-gray-900: 17, 24, 39;
}

/* 🌙 Dark Mode Support */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 200, 50, 50; /* Darker Red */
    --color-secondary: 50, 200, 50; /* Darker Green */
    --color-gray-50: 31, 41, 55;
    --color-gray-100: 17, 24, 39;
    --color-gray-900: 255, 255, 255;
  }
}

/* 🌙 Dark Mode Support */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 200, 50, 50; /* Darker Red */
    --color-secondary: 50, 200, 50; /* Darker Green */
    --color-gray-100: 31, 41, 55;
    --color-gray-900: 255, 255, 255;
  }
}

@layer utilities {
    @keyframes spotlight {
      0% {
        opacity: 0;
        transform: translate(-72%, -62%) scale(0.5);
      }
      100% {
        opacity: 1;
        transform: translate(-50%, -40%) scale(1);
      }
    }
  
    .animate-spotlight {
      animation: spotlight 2s ease 0.75s 1 forwards;
    }
  }

  .no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }
  
  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }
